{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HEPurl</title>
    <link rel="stylesheet" href="{% static 'shortener_app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'shortener_app/css/main.css' %}">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">

                <a class="btn btn-primary btn-sm" href="{% url 'index_view' %}">Home</a>
                <a class="btn btn-primary btn-sm" href="{% url 'account_view' %}">View Bookmarks/Account</a>
                <a class="btn btn-primary btn-sm" href="{% url 'bookmark_view' %}">Create new bookmark</a>
                <a class="btn btn-primary btn-sm" href="{% url 'register_view' %}">Register</a>
                <a class="btn btn-primary btn-sm" href="{% url 'login_view' %}">Sign in</a>
                <a class="btn btn-primary btn-sm" href="{% url 'logout_view' %}?next={% url 'login_view' %}">Logout</a>
                <p class="navbar-text navbar-right">Signed in as <a href="{% url 'account_view' %}"
                                                                    class="navbar-link">{{ request.user }}</a></p>


        </div>
    </nav>

    <!-- move header to here if it really stays the same on all pages -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>