{% extends 'base.html' %}
{#{% block head %}#}
{#    <!-- do i need this? dead code? -->#}
{#    <meta http-equiv="refresh" content="10; url={{ short_code }}"/>#}
{#{% endblock %}#}

{% block content %}
    <h4>Your personal bookmarks: Add more, and see what kind of traffic you can generate. </h4>

    <ol>
        {% for object in author_list %}
            <li>{{ object.title }} -- <a href="{% url 'redirect_view' object.short_code %}">{{ object.short_code }} </a>--
                {% if object.private == True %}Private {% else %}Public {% endif %}
                {{ object.created }} {{ object.url_user }} {{ object.count }}
                <a href="{% url 'update_view' object.pk %}">Update</a>
                <a href="{% url 'delete_view' object.pk %}">Delete</a>

            </li>
        {% endfor %}
    </ol>

{% endblock %}